<div class="container">
<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
	<strong>View count:</strong>
	<%= @article.view_count %>
</p>

<p>
  <strong>Body:</strong>
  <%= @markdown.render(@article.body).html_safe  %>
</p>
<div class="container">
<h4>Comments</h4>
<ul id="comment_list">
<% if @article.comments.count > 0 %>
<% @article.comments.each do |comment| %>
<li>
	<p><%= comment.body %></p>
</li>

<% end %>
<% end %>
</ul>
</div>
<%= render 'comments/form' %>
<a href="#" class="btn btn-success" data-toggle="modal" data-target="#new-comment-modal">New comment</a> |
<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-success" %> |
<%= link_to 'Back', articles_path, class: "btn btn-success" %>
</div>